header,
footer {
  -webkit-backdrop-filter: blur(40pt) brightness(var(--brightness));
          backdrop-filter: blur(40pt) brightness(var(--brightness));
  z-index: 2;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  box-sizing: border-box;
}

header {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  border-bottom: var(--prim-500) solid 2pt;
}
header img {
  width: 3em;
}
header h1 {
  text-align: center;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}
header nav ul {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  gap: 12pt;
}
header nav ul li {
  width: 100%;
}
header nav ul li a {
  color: var(--prim-500);
  text-decoration: none;
}
header nav ul li a:hover {
  color: var(--scnd-500);
  text-decoration: underline;
}

footer {
  border-top: var(--prim-500) solid 2pt;
}

.search-wrapper {
  padding: calc(var(--padding) * 3);
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12pt;
}

.input-container {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
  /* reset input */
}
.input-container input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border: 2px solid var(--prim-500);
  outline: 0;
  font-size: 1em;
  color: var(--prim-500);
  background: transparent;
  transition: border-color 0.2s;
  padding: 6pt;
  box-sizing: border-box;
}
.input-container input::-moz-placeholder {
  color: transparent;
}
.input-container input::placeholder {
  color: transparent;
}
.input-container input:-moz-placeholder-shown ~ label {
  font-size: 1em;
  cursor: text;
  top: 50%;
  transform: translate(0, -25%);
  left: 12pt;
  opacity: 0.6;
}
.input-container input:placeholder-shown ~ label {
  font-size: 1em;
  cursor: text;
  top: 50%;
  transform: translate(0, -25%);
  left: 12pt;
  opacity: 0.6;
}
.input-container label {
  position: absolute;
  top: -6pt;
  display: block;
  transition: 0.2s;
  font-size: 0.7em;
  color: var(--prim-500);
  opacity: 1;
}
.input-container input:focus {
  color: var(--scnd-500);
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 2pt;
  border-color: var(--scnd-500);
}
.input-container input:focus ~ label {
  position: absolute;
  display: block;
  transition: 0.2s;
  font-size: 0.7em;
  color: var(--scnd-500);
  font-weight: 700;
  top: -6pt;
  left: 0;
  opacity: 1;
}
.input-container input:required, .input-container input:invalid {
  box-shadow: none;
}

input[type=search] {
  padding: var(--padding);
  border: 2pt solid var(--prim-500);
  background: none;
  border-radius: 6pt;
  width: 40%;
  color: var(--prim-500);
  font-weight: 500;
  text-align: center;
  transition-duration: 0.3s;
  -webkit-backdrop-filter: blur(12pt) brightness(50%);
          backdrop-filter: blur(12pt) brightness(50%);
}

input[type=search]:active,
input[type=search]:focus-within {
  outline: 0;
  width: 100%;
}

input[type=submit],
button {
  --size: 12pt;
  background: var(--prim-500);
  color: var(--bg-500);
  border-radius: calc(var(--br-radius) * 0.25);
  padding: var(--size);
  border: 0;
  outline: 0;
  font-weight: 400;
}
input[type=submit] ion-icon,
button ion-icon {
  --ionicon-stroke-width: 32pt;
  font-size: var(--size);
}

input[type=submit]:hover,
button:hover {
  background-color: var(--scnd-500);
  cursor: pointer;
}

.book-gallery {
  display: flex;
  flex-direction: column;
  gap: 12pt;
}
.book-gallery .gallery-header {
  display: grid;
  width: -moz-fit-content;
  width: fit-content;
  gap: 12pt;
  justify-content: center;
  text-align: center;
}
.book-gallery .gallery-header a {
  text-decoration: none;
  text-align: center;
}
.book-gallery .gallery-header a h4 {
  color: var(--prim-500);
  font-size: 1.5em;
  font-weight: 400;
}
.book-gallery .gallery-header a:hover {
  text-decoration: line-through;
}
.book-gallery .gallery-header a:hover h4 {
  color: var(--scnd-500);
}
.book-gallery .gallery-body {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 12pt;
}
.book-gallery .gallery-body a {
  margin: 0;
}

.book-card {
  padding: var(--padding);
  box-sizing: border-box;
  margin: 12pt;
  border-radius: var(--br-radius);
  border: 2pt solid var(--prim-500);
  text-decoration: none;
  color: var(--prim-500);
  -webkit-backdrop-filter: blur(12pt) brightness(50%);
          backdrop-filter: blur(12pt) brightness(50%);
}
.book-card .image-wrapper {
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  border-radius: calc(var(--br-radius) * 0.5);
}
.book-card .image-wrapper .image {
  -o-object-fit: inherit;
     object-fit: inherit;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.book-card .info {
  margin: 24pt 0;
}
.book-card .info .title {
  margin: 12pt 0;
}
.book-card .info .author {
  opacity: 0.8;
}

.book-card:hover {
  border: 2pt solid var(--scnd-500);
  cursor: pointer;
}
.book-card:hover .image-wrapper .image {
  transform: scale(1.1);
}

.shelves-wrapper {
  display: flex;
  flex-flow: column-reverse;
  gap: 24pt;
}

section.about {
  display: grid;
  grid-template-columns: 1fr 3fr;
  -webkit-backdrop-filter: blur(120pt);
          backdrop-filter: blur(120pt);
  padding: var(--padding);
  box-sizing: border-box;
  border-radius: 12pt;
  align-items: center;
}
section.about .pp-wrapper {
  width: 100%;
  background-color: aliceblue;
  -webkit-clip-path: circle(50px at 0 100px);
          clip-path: circle(50px at 0 100px);
  overflow: hidden;
}
section.about .pp-wrapper img.pp {
  width: 100%;
}
.welcome-banner {
  display: grid;
  grid-template-columns: 3fr 3fr;
  padding: 24pt;
  box-sizing: border-box;
  -webkit-backdrop-filter: blur(28pt);
          backdrop-filter: blur(28pt);
  border-radius: 12pt;
  width: 80vw;
  border: 2pt solid var(--prim-500);
}
.welcome-banner section {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.welcome-banner .title-wrapper {
  align-items: self-start;
}
.welcome-banner .title-wrapper h2 {
  font-size: 2em;
}
.welcome-banner .dp-wrapper {
  gap: 12pt;
}
.welcome-banner .dp-wrapper img {
  width: 10em;
  -webkit-clip-path: circle();
          clip-path: circle();
}

@media screen and (max-width: 960px) {
  .book-card .image-wrapper {
    width: 50%;
  }
  header {
    grid-template-columns: 1fr 1fr;
  }
  header h1 {
    display: none;
  }
  .welcome-banner .dp-wrapper img {
    width: 6em;
  }
}/*# sourceMappingURL=components.css.map */