@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
@import './components.css';
:root {
  --prim-500: #02182b;
  --scnd-500: #d7263d;
  --bg-500: #68c5db;
  --br-radius: 12pt;
}

* {
  transition-duration: 0.3s;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-500);
  color: var(--prim-500);
  font-family: "Poppins", sans-serif;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100dvh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  -webkit-backdrop-filter: brightness(80%);
          backdrop-filter: brightness(80%);
  overflow: hidden;
}

.abcd {
  height: 48pt;
  width: 56pt;
  background-color: #000000;
  color: #ffffff;
}

.info-bg {
  -webkit-backdrop-filter: blur(24pt) brightness(70%);
          backdrop-filter: blur(24pt) brightness(70%);
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.scrollable-elem {
  overflow-x: hidden;
  overflow-y: scroll;
  margin-right: 5pt !important;
}

.info-card {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  background-color: var(--bg-500);
  height: 60vh;
  width: 50vw;
  box-sizing: border-box;
  border-radius: var(--br-radius);
  opacity: 0.9;
}
.info-card .image {
  transform: translate(-50%, 0);
  border: 5pt solid var(--scnd-500);
  border-radius: calc(var(--br-radius) * 0.5);
  height: 75%;
}
.info-card .info-table-wrapper {
  padding: 24pt;
  height: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 1fr 8fr;
}
.info-card .info-table-wrapper h2 {
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 0.1em;
}
.info-card .info-table-wrapper h5 {
  font-size: 1.1em;
  font-weight: 500;
  margin: 6pt 0;
}
.info-card .info-table-wrapper h2,
.info-card .info-table-wrapper h5 {
  text-align: center;
}
.info-card .info-table-wrapper .scrollable-elem {
  height: 100%;
}
.info-card .info-table-wrapper .scrollable-elem table {
  width: 100%;
}
.info-card .info-table-wrapper .scrollable-elem table tr {
  margin-bottom: 12pt;
}
.info-card .info-table-wrapper .scrollable-elem table tr td {
  padding: 3pt 0;
}
.info-card .info-table-wrapper .scrollable-elem table tr td img {
  border-radius: calc(var(--br-radius) * 0.5);
}
.info-card .info-table-wrapper .scrollable-elem table tr .level-1 {
  vertical-align: baseline;
  box-sizing: border-box;
}
.info-card .info-table-wrapper .scrollable-elem table tr td:nth-child(1) {
  text-align: left;
}
.info-card .info-table-wrapper .scrollable-elem table tr td:nth-child(2) {
  text-align: right;
}

.book-card {
  padding: 12pt;
  box-sizing: border-box;
  margin: 12pt;
  border-radius: var(--br-radius);
  border: 2pt solid var(--prim-500);
  text-decoration: none;
  color: var(--prim-500);
  -webkit-backdrop-filter: blur(12pt) brightness(50%);
          backdrop-filter: blur(12pt) brightness(50%);
}
.book-card .image-wrapper {
  aspect-ratio: 1/1;
  width: 100%;
  overflow: hidden;
  border-radius: calc(var(--br-radius) * 0.5);
}
.book-card .image-wrapper .image {
  -o-object-fit: inherit;
     object-fit: inherit;
  -o-object-position: top;
     object-position: top;
  width: 100%;
}
.book-card .info {
  margin: 24pt 0;
}
.book-card .info .title {
  margin: 12pt 0;
}
.book-card .info .author {
  opacity: 0.8;
}

.book-card:hover {
  border: 2pt solid var(--scnd-500);
  cursor: pointer;
}
.book-card:hover .image-wrapper .image {
  transform: scale(1.1);
}

.result-grid {
  --columns: 6;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  overflow: auto;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --prim-500: #68c5db;
    --scnd-500: #d7263d;
    --bg-500: #02182b;
  }
}
@media screen and (max-width: 960px) {
  .result-grid {
    --columns: 3;
  }
  .info-card {
    transform: translateY(12.5%);
    display: grid;
    grid-template-rows: 50% 75%;
    box-sizing: border-box;
    align-content: space-evenly;
    background-color: var(--bg-500);
    height: 60vh;
    width: 80vw;
    box-sizing: border-box;
    border-radius: var(--br-radius);
    opacity: 0.9;
  }
  .info-card .image {
    transform: translateY(-25%);
    border-radius: var(--br-radius);
    overflow: hidden;
    max-height: 200pt;
    max-width: 150pt;
    border: 5pt solid var(--bg-500);
    z-index: 1;
    height: 100%;
    width: 100%;
    justify-self: center;
  }
  .info-card .info-table-wrapper {
    transform: translateY(calc(-25% + 24pt));
    padding: 24pt;
    height: 100%;
  }
  .info-card .info-table-wrapper h2 {
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 0.1em;
  }
  .info-card .info-table-wrapper h5 {
    font-size: 1.1em;
    font-weight: 500;
    margin: 6pt 0;
  }
  .info-card .info-table-wrapper h2,
  .info-card .info-table-wrapper h5 {
    text-align: center;
  }
  .info-card .info-table-wrapper .scrollable-elem {
    height: 100%;
    padding: 0 12pt;
  }
  .info-card .info-table-wrapper .scrollable-elem table {
    width: 100%;
  }
  .info-card .info-table-wrapper .scrollable-elem table tr {
    margin-bottom: 12pt;
  }
  .info-card .info-table-wrapper .scrollable-elem table tr td {
    padding: 3pt 0;
  }
  .info-card .info-table-wrapper .scrollable-elem table tr td img {
    border-radius: calc(var(--br-radius) * 0.5);
  }
  .info-card .info-table-wrapper .scrollable-elem table tr .level-1 {
    vertical-align: baseline;
    box-sizing: border-box;
  }
  .info-card .info-table-wrapper .scrollable-elem table tr td:nth-child(1) {
    text-align: left;
  }
  .info-card .info-table-wrapper .scrollable-elem table tr td:nth-child(2) {
    text-align: right;
  }
}/*# sourceMappingURL=style.css.map */