{% extends 'home.html' %}
{% block 'content' %}
	<form action="" method="post">
		{% csrf_token %}
		<input type="search" name="search" id="">
		<input type="submit" value="Submit">
	</form>
	<section class="result-grid">
		{% for i in data.result %}
		<a href="{% url 'info' i.id %}" class="book-card">
			<section class="image-wrapper">
				<img class="image" src="{{i.img}}" alt="" srcset="">
			</section>
			<section class="info">
				<h4 class="title">{{i.title}}</h4>
				<h5 class="author">{{i.author}}</h5>
				<p class="desc"></p>
			</section>
		</a>
		{%endfor%}
	</section>
{% endblock %}