{% extends 'home.html' %} {% block 'title' %}
<title>Search - BookNirvana</title>
{% endblock %} {% block 'content' %}
<main>
  <form action="" method="post" class="search-wrapper">
    {% csrf_token %}
    <input type="search" name="search" id="" />
    <input type="submit" value="Submit" />
  </form>
  {% if data.empty %}
  <section>
    <h4>We don't have the book you searched for!</h4>
    <ul>
      <li>Look for any spelling errors</li>
      <li>Make sure you didn't miss out any words</li>
      <li>Try not to use special characters</li>
    </ul>
  </section>
  {% else %}
  <section class="result-grid book-gallery">
    {% for book in data.result %} {% include 'components/bookcard.html' %}
    {%endfor%}
  </section>
  {% endif %}
</main>
{% endblock %}
